.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

a {
    padding: 7px;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: 1px 1px 1px;
    background-color: lightgray;
    color: black;

    &:hover {
        transform: scale(1.1);
    }
}