<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test Python</title>
    <link rel="stylesheet" href="{{url_for('static', filename='favorites.css')}}">
</head>

<body>
    <header>
        <h1>
            <a href="/">🏠</a> Lista dos seus filmes favoritos
        </h1>
    </header>
    <main>
        <div>
            <div class="content">
                {% for film in favorites %}
                    <div class="film">
                        <table>
                            {% for key, value in film.items() %}
                                <tr>
                                    <td>{{ key }}</td>
                                    <td>{{ value }}</td>
                                </tr>
                            {% endfor %}
                        </table>
                        <img src="{{ film.poster }}" />
                    </div>
                {% endfor %}
            </div>
        </div>
    </main>
</body>

</html>